.frame{
    width: 100%;
    height: 100%;
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(229, 229, 229);
}
.frame .main_frame{
    width: 1440px;
    height: 1312px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    
}
.frame .main_frame .left_frame{
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
    flex-direction: column;
    display: flex;
} 
.frame .main_frame .midd_frame{
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display:flex;
    flex-direction: column;
  

}

.frame .main_frame .right_frame{
    position: relative;
    width: 108px;
    height: 1315px;
    align-items: center;
    display: flex;
    flex-direction: column;
   
    background-color:  white
}
.frame .main_frame .left_frame .left_1{
    position: relative;
    width: 228px;
    height: 253px;
    margin-top: 47px;
    left: 25px;

    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.frame .main_frame .left_frame .left_1 .left_1-1{
    width: 156.16px;
    height: 135.05px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 26.96px;
    
}
.main_frame .left_frame .left_1-2{
    position: relative;
    width: 64px;
    height: 20.85px;
    margin-bottom: 6.21px;
    line-height:123.6%;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-family:  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_frame .left_frame .left_1-3{
    position: relative;
    width: 147.84px;
    height: 24.31px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    color: rgb(118, 118, 118)
}
.main_frame .left_frame .left-icons{
    position: relative;
    width: 228px;
    height: 22px;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    margin-top: 17.62px;
}

.link_href{
    text-decoration: none;
    color: black;
}

.icon{
    position: relative;
    width: 24.99px;
    height: 21.61px;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #ffb400;
}


.main_frame .marginer{
    position: relative;
    width: 220px;
    height: 0;
    margin-left: 30px;
    margin-top: 39px;
    margin-bottom: 25px;
    border: 1.5px #dac7c7 solid;
}

.main_frame .left_2{
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 37px;
    
}

.main_frame .left_2 .left_2-1{
    position: relative;
    width: 221px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.main_frame .left_2 .left_2-1 .left_2-1-1{
    position: relative;
    width: 46.21px;
    height: 24px;
    background: rgb(255, 180, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main_frame .left_2 .left_2-1 .left_2-1-2{
   width: 19.09px;
    height: 24px; 
    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    text-transform: capitalize;
    color: rgb(43, 43, 43);
   
}

.main_frame .left_2 .left_2-2{
    position: relative;
    width: 170px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     margin-top: 8px;
    margin-bottom: 8px;

    
}

.main_frame .left_2 .left_2-2 .left_2-2-1{
    position: relative;
    width: 89px;
    height: 24px;
    background: rgb(255, 180, 0);
    display: flex;
    flex-direction: column;
   
    align-items: center;
    
}

.main_frame .left_2 .left_2-2 .left_2-2-2{
   width: 19.09px;
    height: 24px; 
    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    text-transform: capitalize;
    color: rgb(43, 43, 43);
   

}

.main_frame .left_2 .left_2-3{
    position: relative;
    width: 160px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     margin-top: 8px;
    margin-bottom: 8px;
    
    
}

.main_frame .left_2 .left_2-3 .left_2-3-1{
    position: relative;
    width: 85px;
    height: 24px;
    background: rgb(255, 180, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    

}

.main_frame .left_2 .left_2-3 .left_2-3-2{
   width: 19.09px;
    height: 24px; 
    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    text-transform: capitalize;

    
    
}

.main_frame .left_2 .left_2-4{
    position: relative;
    width: 120px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     margin-top: 8px;
    margin-bottom: 8px;

    
}

.main_frame .left_2 .left_2-4 .left_2-4-1{
    position: relative;
    width: 75px;
    height: 24px;
    background: rgb(255, 180, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     

}

.main_frame .left_2 .left_2-4 .left_2-4-2{
   width: 19.09px;
    height: 24px; 
    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    text-transform: capitalize;
    color: rgb(43, 43, 43);
   

}



.main_frame .left_3{
    position: relative;
    width: 220px;
    height: 153px;
    margin-left: 37px;
    margin-right: 47px;
    
}


.main_frame .left_3 .left_3-1{
    position: relative;
    width: 221px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.main_frame .left_3 .left_3-1 .left_3-1-1{
    position: relative;
    width: 46.21px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;

}


.main_frame .left_3 .left_3-2{
    position: relative;
    width: 200px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;

    
}

.main_frame .left_3 .left_3-2 .left_3-2-1{
    position: relative;
    width: 89px;
    height: 24px;
    
    display: flex;
    flex-direction: column;
   
    align-items: flex-start;
    
}

.main_frame .left_3 .left_3-2 .left_3-2-2{
   width: 19.09px;
    height: 24px; 
    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    text-transform: capitalize;
    color: rgb(43, 43, 43);
   

}
.left_frame .left_3 .left_3-2-3{
    position:relative;
    width: 220px;
    height: 4px;
    border: 2.5px solid rgb(255, 180, 0);
    border-radius: 30px;
}

.main_frame .left_3 .left_3-3{
    position: relative;
    width: 205px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     margin-top: 10px;
    margin-bottom: 10px;
    
    
}

.main_frame .left_3 .left_3-3 .left_3-3-1{
    position: relative;
    width: 85px;
    height: 24px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    

}

.main_frame .left_3 .left_3-3 .left_3-3-2{
   width: 19.09px;
    height: 24px; 
    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    text-transform: capitalize;
   
    
    
}

.main_frame .left_3 .left_3-3-3{
    position:relative;
    width: 190px;
    height: 4px;
    border-radius: 30px;
    /* Yellow */
    background: rgb(255, 180, 0);
}

.main_frame .left_3 .left_3-4{
    position: relative;
    width: 220px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     margin-top: 10px;
    margin-bottom: 10px;

    
}

.main_frame .left_3 .left_3-4 .left_3-4-1{
    position: relative;
    width: 75px;
    height: 24px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
     

}

.main_frame .left_2 .left_3-4 .left_3-4-2{
   width: 19.09px;
    height: 24px; 
    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    text-transform: capitalize;
    color: rgb(43, 43, 43);
   

}
.main_frame .left_3 .left_3-4-3{
    position:relative;
    width: 190px;
    height: 4px;
    border-radius: 30px;
    /* Yellow */
    background: rgb(255, 180, 0);
}





.main_frame .left_4{
    position: relative;
    width: 220px;
    height: 242px;
    margin-left: 38px;
    margin-right: 47px;
    
}

.main_frame .left_frame .left_4 .left_4-1{
    position: relative;
    width: 46.21px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    
}

.main_frame .left_frame .left_4 .left_4-20{
    position: relative;
    width: 220px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     margin-top: 7px;
    margin-bottom: 7px;
}

.main_frame .left_frame .left_4 .left_4-30 {
     position:relative;
    width: 220px;
    height: 4px;
    border: 2.5px solid rgb(255, 180, 0);
    border-radius: 30px;
    background:rgb(255, 180, 0);
}

.main_frame .left_frame .left_4 .left_4-7{
        position:relative;
    width: 190px;
    height: 4px;
    border-radius: 30px;
    /* Yellow */
    background: rgb(255, 180, 0);
    
}

.main_frame .left_frame .left_4 .left_4-9{
      position:relative;
    width: 170px;
    height: 4px;
    border-radius: 30px;
    /* Yellow */
    background: rgb(255, 180, 0);

    
}

.main_frame .left_frame .left_4 .left_4-11{
      position:relative;
    width: 180px;
    height: 4px;
    border-radius: 30px;
    /* Yellow */
    background: rgb(255, 180, 0);

    
}


.main_frame .left_5{
    position: relative;
    width: 186px;
    height: 148px;
    margin-left: 47px;
    margin-right: 72px;
    
    display:flex;
    flex-direction: column;
    
    
}
.main_frame .left_frame .left_5 .left_5-0{
     position: relative;
    width: 46.21px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    
}

.main_frame .left_frame .left_5 .left_5-10{
    position: relative;
    display : flex;
    flex-direction: row;
    
    

}

.main_frame .left_frame .left_5 .left_5-1, .left_5-2, .left_5-3, .left_5-4, .left_5-5, .left_5-6, .left_5-7, .left_5-8{
  margin-top: 4px;
    position: relative;
    margin-bottom: 6px;
   
} 
.main_frame .left_frame .left_5 .left_5-20{
font-size:19px;
color:rgb(118, 118, 118);
align-items: row;
}
.left_frame .left_5 .icons{
    width: 30px
}

.main_frame .midd_frame .midd_up{
    position:relative;
    width: 971px;
    height: 454.33px;
    display: flex;
    flex-direction: row;
    background: white;
}

.main_frame .midd_frame .midd_up .midd_up-1{
    position: relative;
    display: flex;
    flex-direction: column;
}

/* .midd_shapes_1{
    top: 15px;
} */

.main_frame .midd_frame .midd_up .midd_up-1 .midd_up_1-1{
    position: relative;
   width: 499.51px;
    height: 116.74px;
    margin-top: 99.15px;
    margin-left: 238.43x;
    margin-right: 56.07px;
    margin-left: 61px;
    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.main_frame .midd_frame .midd_up .midd_up-1 .midd_up_1-2{
   position:relative;
    width: 424.44px;
    height: 85.61px;
    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-left: 61px;
    margin-top: 17px;
}
.main_frame .midd_frame .midd_up .midd_up_1-3{
    position: relative;
    width: 154px;
    height: 51px;
    margin-left: 61px;
    margin-top: 22.78px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 32px 16px 32px;
    background: rgb(255, 180, 0);
}



.main_frame .midd_frame .midd_up .midd_up-2{
    
    margin-right:61.65px;
}





.main_frame .midd_frame .midd_down{
    width: 970px;
    height: 653px;
     margin-top: 146px;
}

.main_frame .midd_frame .midd_down .midd_down-1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_frame .midd_frame .midd_down .midd_down-1 .midd_down-1-1{
    position: relative;
   width: 193px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}
.main_frame .midd_frame .midd_down .midd_down-1 .midd_down-1-2{
    position: relative;
    width: 438px;
    height: 68px;
     margin-bottom: 50px;
    
}
.main_frame .midd_frame .midd_down .midd_down-2{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
   
}

.main_frame .midd_frame .midd_down .midd_down-2 .midd_down-2-0{
    width: 310px;
    height: 225px;
    background: rgb(255, 252, 252);
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 13px;
    
    
    
}

.main_frame .midd_frame .midd_down .midd_down-2 .midd_down-2-0 .midd_down_icon-0{
    position:relative;
    width: 65.88px;
    height: 53.13px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.main_frame .midd_frame .midd_down .midd_down-2 .midd_down-2-0 .part-2{
    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}
.main_frame .midd_frame .midd_down .midd_down-2 .midd_down-2-0 .part-3{
    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.main_frame .midd_frame .midd_down .midd_down-2 .midd_down-2-0 .order{
    color: rgb(255, 180, 0);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: left;
}

.frame .main_frame .right_frame{
    position: relative;
    background: rgb(252, 252, 252);
    width: 108px;
    height: 1315px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.frame .main_frame .right_frame .right_frame_menu{
    width: 65px;
    height: 493px;
    margin-top: 254px;
    margin-bottom:568px;
}

.frame .main_frame .right_frame .right_frame_menu .right_frame-menu-1{
   margin-top: 20px;
   margin-bottom: 20px;
}
